.footer {
    background-color: rgb(211, 211, 235);
    color: rgb(14, 13, 13);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}  